    <div class="d-flex justify-content-between mt-4">
        <h2 class="mb-0">Manage Events</h2>

    </div>
    <div class="row mt-4">
        <div class="col-md-10">
            <div class="mb-3">
                <label for="content" class="form-label ">Event ID</label>
                create input with name eventID
                -->
            </div>
        </div>
        <div class="col-md-2">
            <br>
            <!-- create button here and call searchEvent() -->
        </div>
    </div>
    <div class="row mt-3">
        <div class="card">
            <div class="card-header">Booking Information</div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Sr#</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Date Time</th>
                            <th>Location</th>
                            <th>status</th>
                            <th>Allocation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- //complete this table Information -->
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <span>Quality :
                                    <div class="card">
                                        <div class="card-body">
                                            <h4>Resource:</h4>
                                            <p>Name:</p>
                                            <p>Availability:</p>
                                            <p>Type:</p>
                                        </div>
                                    </div>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>