<div class="d-flex justify-content-between mt-4">
    <h2 class="mb-0">Manage Events</h2>  
  
  </div>
  <div class="row mt-4">
    <div class="col-md-10">
        <div class="mb-3">
            <label for="content" class="form-label ">Event ID</label>
            <input type="content" name ="eventID" [(ngModel)]="formModel.eventID" class="form-control" id="eventID" placeholder="Search with Event Id">                     
          </div>
    </div>
    <div class="col-md-2">
        <br>
        <button (click)="searchEvent()" class="btn btn-primary mt-1 w-100" >Search</button>
    </div>
</div>
  <div class="row mt-3">
    <div class="card">
        <div class="card-header">Booking Information</div>
    </div>
    <div  class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Sr#</th>
                        <th>Title</th>
                        <th>Description</th> 
                        <th>Date Time</th>                           
                        <th>Location</th>      
                        <th>status</th>   
                        <th>Allocation</th>
                               
                  
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <td>{{eventObj.eventID}}</td>
                        <td>{{eventObj.title}}</td>
                        <td>{{eventObj.description}}</td>
                        <td>{{eventObj.dateTime | date:'dd-MMM-yyyy'}}</td>
                        <td>{{eventObj.location}}</td>                    
                        <td>{{eventObj.status}}</td>
                        <td>
                            <span *ngFor="let al of eventObj.allocations">Quantity :{{al.quantity}}
                                <div class="card">
                                    <div class="card-body">
                                        <h4>Resource:</h4>
                                        <p >Name:{{al.resource.name}}</p>
                                        <p >Availability:{{al.resource.availability}}</p>
                                        <p >Type:{{al.resource.type}}</p>
                                    </div>
                                </div>
                                
                            </span>
                          
                        </td>

                       
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
  </div>

