<!-- <div class="d-flex justify-content-between mt-4">
    <h2 class="mb-0">Manage Event</h2>  
  
  </div>
  <div class="row mt-3">
    <div class="card">
        <div class="card-header">
        Create Event
          </div>
        <div class="card-body">
            <form class="mb-3 mt-md-4" [formGroup]="itemForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label for="content" class="form-label ">Title</label>
                          <-- create input with formControlName="title" and validation ->
                      
                          </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label for="description" class="form-label ">Description</label>
                            <-- create input with formControlName="description" and validation ->
                        
                          </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label for="dateTime" class="form-label ">Date Time</label>
                          <-- create input with formControlName="dateTime" and validation ->
                   
                          </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label for="location" class="form-label ">location</label>
                           <-- create input with formControlName="location" and validation ->
                    
                          </div>
                    </div>
                    <div class="mb-3">
                        <label for="status" class="form-label">Status</label>
                           <-- create select with formControlName="status" and validation ->
                       
                          <-- <option value="null">Choose Status</option>
                          <option value="Initiated">Initiated</option>
                          <option value="Complete">Complete</option> ->
                    
                     
                    </div>
                    <div class="col-md-2">
                        <div class="d-grid">
                            <br>
                            <button class="btn btn-outline-dark mt-1" type="submit">Submit</button>
                          </div>
                    </div>
                </div>
              
               
              
               
              </form>
        </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="card">
        <div class="card-header">Hospital Information</div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Sr#</th>
                        <th>Title</th>
                        <th>Description</th> 
                        <th>Date Time</th>                           
                        <th>Location</th>      
                        <th>status</th>               
                  
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let event of eventList">
                      <td>{{event.eventID}}</td>
                        <td>{{event.title}}</td>
                        <td>{{event.description}}</td>
                        <td>{{event.dateTime | date:'dd-MMM-yyyy'}}</td>
                        <td>{{event.location}}</td>                    
                        <td>{{event.status}}</td>
                  
                       
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
  </div>
 -->

<div class="banner">
    <h4>Event Management</h4>
</div>
<div class="conatainer2">
    <div class="form">
        <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
            <div>
                <h5>Create an event</h5>
                <div class="mb-3">
                    <label for="name" class="form-label ">Title :</label>
                    <!-- create input with formControlName="name"  and with validation  -->
                    <input type="text" id="title" formControlName="title" class="form-control" placeholder="enter title">
                    <div *ngIf="itemForm.get('title')?.hasError('required') && itemForm.get('title')?.touched"
                        class="text-danger">Title is requried</div>
                </div>
                <div class="mb-3">
                    <label for="type" class="form-label ">Description :</label>
                    <!-- create input with formControlName="type"  and with validation  -->
                    <input type="text" id="description" formControlName="description" class="form-control" placeholder="enter description">
                    <div
                        *ngIf="itemForm.get('description')?.hasError('required') && itemForm.get('description')?.touched"class="text-danger">
                        Description is Required
                    </div>
                </div>
                <div class="mb-3">
                    <label for="dateTime" class="form-label ">Date:</label>
                    <!-- create input with formControlName="type"  and with validation  -->
                    <input type="datetime-local" id="dateTime" formControlName="dateTime" class="form-control">
                    <div *ngIf="itemForm.get('dateTime')?.hasError('required') && itemForm.get('dateTime')?.touched"class="text-danger">
                        Date Time is Required
                    </div>

                </div>
                <div class="mb-3">
                    <label for="location" class="form-label ">Location:</label>
                    <!-- create input with formControlName="type"  and with validation  -->
                    <input type="text" id="location" formControlName="location" class="form-control" placeholder="enter location">
                    <div *ngIf="itemForm.get('location')?.hasError('required') && itemForm.get('location')?.touched"class="text-danger">
                        Location is Required
                    </div>

                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Status</label>
                    <!-- create select with formControlName="status" and validation -->
                    <select formControlName="status" class="form-control">
                        <option value="">Choose Status</option>
                        <option value="Initiated">Initiated</option>
                        <option value="Complete">Complete</option>
                    </select>
                    <!-- <option value="null">Choose Status</option>
                  <option value="Initiated">Initiated</option>
                  <option value="Complete">Complete</option> -->
                </div>
                <div class="mb-3">
                    <label for="user" class="form-label">Select User</label>
                    <!-- create select with formControlName="status" and validation -->
                    <select formControlName="user" class="form-control">
                        <option value="">Choose user</option>
                        <option [ngValue]="user" *ngFor="let user of userList$ | async">{{user.userID}} {{user.username}}</option>
                        
                    </select>
                    <!-- <option value="null">Choose Status</option>
                  <option value="Initiated">Initiated</option>
                  <option value="Complete">Complete</option> -->
                </div>
                <div class="mb-5">
                    <br>
                    <button type="submit" class="btn btn-success"  >Submit</button>
                </div>
                <ng-container >
                    <div *ngIf="success$ | async as success" class="alert alert-success">
                        {{success}}
                    </div>
                    <div *ngIf="error$ | async as error" class="alert alert-danger">
                        {{error}}
                    </div>
                </ng-container>
            </div>
        </form>
    </div>
</div>
<!-- </div>
    </div>
   
   
  </div> -->

<!-- <div class="card ">
    <div class="card-header">Event Information</div>
    <div class="row mt-3">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Sr#</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Date Time</th>
                            <th>Location</th>
                            <th>status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let event of eventList">
                            <td>{{event.eventID}}</td>
                            <td>{{event.title}}</td>
                            <td>{{event.description}}</td>
                            <td>{{event.dateTime | date:'dd-MMM-yyyy'}}</td>
                            <td>{{event.location}}</td>
                            <td>{{event.status}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> -->










<!--
 
<div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 ">
                   <div class="card bg-white mt-5">
                    <div class="card-body p-5 shadow-lg p-3 mb-5 mt-5 bg-white rounded">
 
                        <div class="card-header">Event Information</div>
                        <div class="row mt-3">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Sr#</th>
                                                <th>Title</th>
                                                <th>Description</th>
                                                <th>Date Time</th>
                                                <th>Location</th>
                                                <th>status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let event of eventList">
                                                <td>{{event.eventID}}</td>
                                                <td>{{event.title}}</td>
                                                <td>{{event.description}}</td>
                                                <td>{{event.dateTime | date:'dd-MMM-yyyy'}}</td>
                                                <td>{{event.location}}</td>
                                                <td>{{event.status}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
 
 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->