
<nav class="navbar">

  <div class="logo">
      <img src="assets/logo.png" alt="Logo">
  
          <span class="appName">Event Ease</span>
     
  </div>

  <div class="navbar-options">
      <a href="#">Home</a>
      <a href="#">Create Event</a>
      <a href="#" >Add Resource</a>
      <a href="#">Allocate Resource</a>
      <a href="#" >View Bookings</a>
      <a href="#" >View Events</a>
  </div>

  <div class="logout">
      <a href="#">Logout</a>
  </div>
</nav>
 
<body  >
  <div class="container mt-4 mx-5">
    <router-outlet>    
    </router-outlet>
  </div>

</body>

