body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
  }

 
  .container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    background-color:white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
 html{
  height: 100%;
  overflow: hidden;
 }
  header {
    text-align: center;
    overflow: hidden;
  }
  span{
   margin-top: 0px;
   margin-bottom: 2px;
  }
 
  .logo {
    width: 50px;
    display: inline-block;
  }
 
  .app-name {
    font-size: 24px;
    font-weight: bold;
    color: rgb(70, 70, 5);
    font-family: 'Brush Script MT', cursive;
    margin-bottom: 1px;
  }
 
  .slogan {
    font-size: 14px;
    color: #0a0d93;
  }
 
  .content {
    display: flex;
    height: fit-content;
    overflow: hidden;
  }
 
  .left-half {
    flex: 1;
    padding: 20px;
  }
 
  .right-half {
    flex: 1;
    overflow: hidden;
    position: relative;
  }
 
  .register-form {
    max-width: 400px;
    margin: auto;
    overflow: hidden;
  }
  .register-form select{
    width: 90%;
    margin-bottom: 2px;
    height: max-content;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .register-form input {
    width: 90%;
    height: max-content;
    margin-bottom: 2px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
 
  .register-form button {
    width: 90%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
 
  .register-form button:hover {
    background-color: #0056b3;
  }
 
  .image {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
 
  .register-form p{
    width: 90%;
    padding: 10px;
    text-align: center;
  }
  .register-form p:hover{
   color: #007bff;
}