<div class="d-flex justify-content-between mt-4">
    <h2 class="mb-0">Manage Resource</h2>  
  
  </div>
  <div class="row mt-3">
    <div class="card">
        <div class="card-header">
        Add Resource
          </div>
        <div class="card-body">
            <form class="mb-3 mt-md-4" [formGroup]="itemForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label for="content" class="form-label ">Name</label>
                          <!-- create input with formControlName="name"  and with validation  -->
                       
                          </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label for="type" class="form-label ">Type</label>
                   <!-- create input with formControlName="type"  and with validation  -->
                         
                          </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3">
                         
                                <label class="form-label">Availability:</label>
                                <div class="form-check">
                                   <!-- create radio with formControlName="availability"  and with validation  -->
                                  <label class="form-check-label" for="availability-available">Available</label>
                                </div>
                                <div class="form-check">
                                    <!-- create radio with formControlName="availability"  and with validation  -->
                                  <label class="form-check-label" for="availability-unavailable">Unavailable</label>
                                </div>

                             
                          </div>
                    </div>
             
                    <div class="col-md-2">
                        <div class="d-grid">
                            <br>
                            <button class="btn btn-outline-dark mt-1" type="submit">Submit</button>
                          </div>
                    </div>
                </div>
              
               
              
               
              </form>
        </div>
    </div>
  </div>



  <div class="row mt-3">
    <div class="card">
        <div class="card-header">Hospital Information</div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Sr#</th>
                        <th>Name</th>
                        <th>Type</th> 
                        <th>Availability</th>                           
                            
                  
                    </tr>
                </thead>
                <tbody>
                  <!-- //compelte table Information -->
                    <tr >
                      <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <span >Available</span>
                            <span >Not Available</span>
                  

                        </td>
                     
                  
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
  </div>