<div *ngIf="isUpdate">
<div class="d-flex justify-content-between mt-4">
    <h2 class="mb-0">Manage Events</h2>
</div>
<div class="card">
        <div class="card-header">
            <label for="content" class="form-label ">Event ID</label>
        </div>
<div class="row mt-3">
        <div class="card-body">
            <div class="row">
                <div class="col-md-10">
                    <div class="mb-3">
                        <!-- <label for="content" class="form-label ">Event ID</label> -->
                        <!-- //input for search input -->
                        <input type="text" id="content" name="content" placeholder="Please enter Sr# or Title" [(ngModel)]="inputMessage">
                    </div>
                </div>
                <div class="col-md-2">
                    <!-- <br> -->
                    <!-- create button here and call this function searchEvent() -->
                    <button class="btn btn-outline-dark mt-1" (click)="searchEvent()" >Search</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- <form *ngIf="isUpdate" class="mb-3 mt-md-4" [formGroup]="itemForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label for="content" class="form-label ">Title</label>
                            <!-- create input with formControlName="title" with validation message ->
 
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label for="description" class="form-label ">Description</label>
                            <!-- create input with formControlName="description" with validation message ->
 
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label for="dateTime" class="form-label ">Date Time</label>
                            <!-- create input with formControlName="dateTime" with validation message ->
 
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mb-3">
                            <label for="location" class="form-label ">location</label>
                            <!-- create input with formControlName="location" with validation message ->
 
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="status" class="form-label">Status</label>
                        <!-- create input with formControlName="status" with validation message ->
 
                        <!-- <option value="null">Choose Status</option>
                          <option value="Initiated">Initiated</option>
                          <option value="Complete">Complete</option>
            ->
                    </div>
                   
                    <div class="col-md-2">
                        <div class="d-grid">
                            <br>
                            <button class="btn btn-outline-dark mt-1" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
            <div *ngIf="showMessage" class="alert alert-success mt-4" role="alert">
                {{ responseMessage }}
            </div>
            <div *ngIf="showError" class="alert alert-danger" role="alert">
                {{errorMessage}}
            </div> -->
<div class="row mt-3" *ngIf="isUpdate">
    <!-- <div class="card">
        <div class="card-header">Hospital Information</div>
    </div> -->
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Sr#</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Date Time</th>
                        <th>Location</th>
                        <th>status</th>
                        <th>Action</th>
 
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of eventObj$ | async">
                        <td>{{item.eventID}}</td>
                        <td>{{item.title}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.dateTime | date:'dd-MMM-yyyy'}}</td>
                        <td>{{item.location}}</td>
                        <td>{{item.status}}</td>
 
                        <td>
                            <button (click)="edit(item)" *ngIf="item.eventID"
                                class="btn btn-warning">Update</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>






<!-- New update form -->

<div class="conatainer2" [hidden] = "isUpdate">

    <div class="banner">
        <h2>Update Event</h2>
    </div>
    <div class="form">
        <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
            <div>
               
                <div class="mb-3">
                    <label for="name" class="form-label ">Title :</label>
                    <!-- create input with formControlName="name"  and with validation  -->
                    <input type="text" id="title" formControlName="title" class="form-control">
                    <div *ngIf="itemForm.get('title')?.hasError('required') && itemForm.get('title')?.touched"
                        class="text-danger">Title is requried</div>
                </div>
                <div class="mb-3">
                    <label for="type" class="form-label ">Description :</label>
                    <!-- create input with formControlName="type"  and with validation  -->
                    <input type="text" id="description" formControlName="description" class="form-control">
                    <div
                        *ngIf="itemForm.get('description')?.hasError('required') && itemForm.get('description')?.touched">
                        Description is Required
                    </div>
                </div>
                <div class="mb-3">
                    <label for="dateTime" class="form-label ">Date:</label>
                    <!-- create input with formControlName="type"  and with validation  -->
                    <input type="datetime-local" id="dateTime" formControlName="dateTime" class="form-control">
                    <div *ngIf="itemForm.get('dateTime')?.hasError('required') && itemForm.get('dateTime')?.touched">
                        Date Time is Required
                    </div>

                </div>
                <div class="mb-3">
                    <label for="location" class="form-label ">Location:</label>
                    <!-- create input with formControlName="type"  and with validation  -->
                    <input type="text" id="location" formControlName="location" class="form-control">
                    <div *ngIf="itemForm.get('location')?.hasError('required') && itemForm.get('location')?.touched">
                        Location is Required
                    </div>

                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Status</label>
                    <!-- create select with formControlName="status" and validation -->
                    <select formControlName="status" class="form-control">
                        <option value="">Choose Status</option>
                        <option value="Initiated">Initiated</option>
                        <option value="Complete">Complete</option>
                    </select>
                    <!-- <option value="null">Choose Status</option>
                  <option value="Initiated">Initiated</option>
                  <option value="Complete">Complete</option> -->
                </div>
                <div class="mb-3">
                    <label for="user" class="form-label">Select User</label>
                    <!-- create select with formControlName="status" and validation -->
                    <select formControlName="user" class="form-control">
                        <option value="">Choose user</option>
                        <option [ngValue]="event.user" *ngFor="let event of eventObj$ | async">{{event.user.userID}} {{event.user.username}}</option>
                        
                    </select>
                    <!-- <option value="null">Choose Status</option>
                  <option value="Initiated">Initiated</option>
                  <option value="Complete">Complete</option> -->
                </div>
                <div class="mb-5">
                    <br>
                    <button type="submit" class="btn btn-success"  >Submit</button>
                </div>
                <!-- <ng-container >
                    <div *ngIf="success$ | async as success" class="alert alert-success">
                        {{success}}
                    </div>
                    <div *ngIf="error$ | async as error" class="alert alert-danger">
                        {{error}}
                    </div>
                </ng-container> -->
            </div>
        </form>
    </div>
</div>














